.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 50px;
    background-color: orange;

}

.base{ display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; }